# Ignore workspace jsons as they change constantly
.obsidian/workspace*.json

# Matlab autosave files
**/*.asv

# Sometimes, deleting files on mobile simply renames them
**/.trashed-*

# Output of webpage-html-export plugin
export/
